 .back {
   width: 100%;
   height: 100%;

   display: flex;
   justify-content: center;
   align-items: center;

   background: rgb(242, 250, 255);
 }

 .box {
   display: flex;
   border-radius: 8px;
   overflow: hidden;
   width: 100%;
   height: 100%;
   justify-content: center;
   align-items: ceneter;
   border: 1px solid var(--color-light-blue);

   box-shadow: 1px 9px 16px 0px rgba(129, 129, 129, 0.57);
   -webkit-box-shadow: 1px 9px 16px 0px rgba(129, 129, 129, 0.57);
   -moz-box-shadow: 1px 9px 16px 0px rgba(129, 129, 129, 0.57);
 }

 @media (max-width: 1200px) {
   .box {
     flex-direction: column;
   }
 }