 .container {
  width: 30%;
  background-color: var(--color-white);
  border-left: 1px solid var(--color-light-blue);
  padding: 16px;
}

 .header {
  margin-top: 8px;
  background-color: var(--color-white);
  color: var(--color-blue);
}

.scheduleBox {
  height: calc(100% - 80px);
}

 .title {
  margin: 0;
  font-weight: var(--weight-bold);
  font-size: var(--font-regular);
}

 .dateBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
  margin-bottom: 16px;
}

 .date {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: var(--font-small);
  font-weight: bold;
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 5px;
  padding: 4px 8px;
}

 .addBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
  color: var(--color-blue);
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
    height: 35%;
    padding: 8px;
    border-left: none;
    border-top: 1px solid var(--color-light-blue);
    overflow: scroll;
  }
}
