 .todoBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 36px;
}

 .header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

 .title {
  width: 100%;
  margin: 0;
  font-weight: var(--weight-bold);
  font-size: var(--font-regular);
  color: var(--color-white);
  border-radius: 5px;
  padding: 5px;
}

 .time {
  margin-top: 4px;
  font-size: var(--font-regular);
  font-weight: 600;
  color: var(--color-dark-gray);
}

 .description {
  margin: 8px 0px;
  padding: 8px;
  border-top: 1px solid var(--color-light-blue);
  border-bottom: 1px solid var(--color-light-blue);
  height: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: var(--weight-light);
}

 .btnBox {
  display: flex;
  justify-content: space-between;
  color: var(--color-blue);
}

.itemBtnBox {
  display: flex;
  justify-content: flex-end;
}

 .close {
  font-size: var(--font-regular);
  cursor: pointer;
}

 .edit {
  font-size: var(--font-regular);
  cursor: pointer;
}

 .delete {
  margin-left: 8px;
  font-size: var(--font-regular);
  cursor: pointer;
}

@media (max-width: 1200px) {
   .todoBox {
    height: 270px;
  }

   .description {
    height: 150px;
  }
}