$kendo-color-primary: #303fad;
$kendo-color-info: #ff6358;

$kendo-series-a: $kendo-color-primary;
$kendo-series-b: #f798ae;
$kendo-series-c: #ffe162;
$kendo-series-d: #1fdd94;
$kendo-series-e: #4b5ffa;
$kendo-series-f: #14cae9;

$kendo-font-size: 13px;

@import "~@progress/kendo-theme-default/dist/all.scss";

