@media print {
  @page {
    .printable2 {
      size: landscape
    }

    .printable1 {
      size: portrait
    }
  }  
  
  html,
  body {
    border: 0;
    margin: 0;
    padding: 0;
    margin-top: 0;
  }

  .container-fluid {
    margin: 0;
    display: none;
  }
}

.printable1 {
  background-color: #fff;
  width: 10.1cm;

  .container-grid {
    margin-top: 10px;
  }


  #gridDiv {
    margin: 10px auto 5px;
    float: left;
  }

  #body {
    overflow-x: hidden;
  }

  #sub_grid {
    margin-bottom: 10px;
  }

  /*태그정보 디자인*/
  .split_row>.k-header {
    height: 480px;
    padding: 5px;
    border-radius: 6px;
  }

  .split_row>.k-header>li>span {
    background-color: #f7f7f7;
    color: #949494;
    text-align: center;
  }

  .list>li {
    height: 35px;
    vertical-align: middle;
    line-height: 35px;
  }

  /* 전체 레이아웃 & 조회조건*/
  .filter_week {
    margin: 10px auto 5px;
    width: 535px;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: right;
  }

  .col-md-12::after {
    margin: 10px auto 5px;

  }

  .filterlist li {
    margin: 0 5px;
  }


  .list li>div>label,
  .list li>label {
    width: 72px;
    margin-left: 10px;
    font-weight: 400;
    color: #636363;
  }

  /*.list li > div:nth-child(1) > label,
.list li > label:nth-child(1) {
	margin-left: 5px;
}*/

  .list li>div>label.wrap_label {
    margin-left: 54px;
  }

  .tow_inline>div,
  .three_inline>div {
    display: inline-block;
    position: relative;
  }

  .tow_inline>div>input {
    width: 12em;
  }

  .three_inline>div>input {
    width: 75px;
  }

  .three_inline>div:nth-child(2)>label,
  .three_inline>div:nth-child(3)>label {
    width: 70px;
  }

  .filter_week div.radio_form_box {
    height: 25px;
    margin-bottom: 0;
    line-height: 25px;
    vertical-align: middle;
    border: 1px solid #e2e2e2;
  }

  .filter_week div.radio_form_box.paper_gubun {
    width: 133px;
    text-align: center;
  }

  .filter_week div.radio_form_box.paper_gubun label:nth-child(2) {
    margin-right: 15px;
  }


  #tag_dt2 {
    width: 120px;
  }

  #tag_radio1_sub {
    width: 35px;
  }

  #tag14,
  #tag15 {
    width: 399px;
  }



  ul.list li.txtarea_wrap {
    height: auto;
    margin-top: 8px;
    margin-bottom: 3px;
    vertical-align: top;
  }

  ul.list li.txtarea_wrap #tag15 {
    line-height: 20px;
    border: solid 1px #e2e2e2;
    box-shadow: none;
    height: 65px;
  }

  ul.list li.txtarea_wrap label {
    vertical-align: top;
    line-height: 20px;
  }

  .full {
    width: 350px;
  }

  .k-datepicker {
    /*width: 9em !important;*/
  }

  .radio_inner label {
    font-weight: 400;
    font-size: 12px;
  }

  #left- {
    margin-right: 23px;
  }

  .drop-box {
    width: 120px;
  }

  .filterlist {
    width: 950px;
    float: left;
    display: inline-block;
    margin-bottom: 1px;
  }

  .filterlist_right {
    float: right;
  }

  .filterlist_right button.tall {
    width: 70px;
    margin-left: 10px;
  }

  .filter_week input {
    box-shadow: none;
    border: solid 1px #e2e2e2;
  }

  .filter_week .list li:first-child {
    margin-bottom: 10px;
  }

  .button_inner button {
    border-radius: 40px;
    height: 30px;
  }


  .button_inner {
    float: right;
  }

  .button_inner button span {
    font-size: 14px;
  }

  .k-panelbar>.k-item>.k-link {
    height: 40px;
    font-weight: 900;
    color: #3d7bff;
    text-align: left;
    background-color: transparent;
    border-bottom: solid 1px #dedede;
  }

  button.print {
    border: solid 1px #e8ad00;
    background-color: #ffe189;
    color: black;
  }

  #cancel-print {
    color: red;
    background-color: white;
    border: solid 1px red;
  }

  .filterlist_inner {
    display: inline-block;
    border-radius: 5px;
    width: 255px;
  }


  li {
    list-style: none;
  }

  /*************************************** 속지 ***************************************/

  .printable2 {
    background-color: #fff;
    width: 21cm;
  }

  li:nth-child(1),
  li:nth-child(2),
  li:nth-child(3) {
    font-size: 24px;
    height: .9cm
  }

  li:nth-child(3) {
    height: .6cm;
    line-height: .6cm;
  }

  li:nth-child(3) .right {
    display: inline-block;
    float: right;
    width: 3.7cm;
    text-align: left;
  }

  li:nth-child(4) {
    height: .6cm;
    line-height: .6cm;
  }

  li:nth-child(4) .right {
    display: inline-block;
    float: right;
    width: 4cm;
    text-align: center;
  }

  li:nth-child(5) .right {
    display: inline-block;
    margin-left: 5.7cm;
    width: 4cm;
    text-align: center;
  }


  li:nth-child(8) .right {
    float: right;
    text-align: center;
  }

  li:nth-child(14) {
    height: 1.5cm;
  }

  li:nth-child(1) span,
  li:nth-child(2) span,
  li:nth-child(3) span {
    font-weight: bold;
    font-size: 24px;
  }

  li:nth-child(2) span:nth-child(2) {
    float: right;
  }

  li:nth-child(4) .right {
    font-weight: bold;
    font-size: 21px;
  }

  li:nth-child(5) {
    font-size: 18px;
    height: .7cm;
  }

  li:nth-child(6) {
    font-size: 18px;
    height: 1.6cm;
  }

  li:nth-child(7),
  li:nth-child(8) {
    font-size: 16px;
  }


  li:nth-child(9),
  li:nth-child(9) span,
  li:nth-child(10) span,
  li:nth-child(11) span,
  li:nth-child(12) span,
  li:nth-child(13) span,
  li:nth-child(14) span,
  li:nth-child(4)>span {
    font-size: 14px;
    line-height: 14px;
  }

  div {
    font-size: inherit;
    display: inline-block;
  }

  .tag_table {
    width: 10.1cm;
    height: 11cm;
    padding: .2cm;
    page-break-before: always;
  }

  /*************************************** 겉지 - 좌측테이블 ***************************************/
  .printable2 ul:nth-child(1) {
    -ms-transform: rotate(90deg);
    /* IE 9 */
    transform: rotate(90deg);
    position: absolute;
    left: 0cm;
    top: 0.8cm;
    float: left;
    height: 5cm;
    width: 8cm;
  }

  .printable2 ul:nth-child(1) li:nth-child(1) span {
    font-size: 32px;
    font-weight: 500;
  }

  .printable2 ul:nth-child(1) li:nth-child(2) span {
    font-size: 24px;
  }

  .printable2 ul:nth-child(1) li:nth-child(3) span {
    font-size: 24px;
    font-weight: bold;
  }

  .printable2 ul:nth-child(1) li:nth-child(4) span {
    font-size: 24px;
  }

  .printable2 ul:nth-child(1) li:nth-child(5) span {
    font-size: 32px;
    font-weight: bold;
  }

  .printable2 ul:nth-child(1) li:nth-child(6),
  .printable2 ul:nth-child(1) li:nth-child(7) {
    height: .6cm;
  }

  .printable2 ul:nth-child(1) li:nth-child(6) span,
  .printable2 ul:nth-child(1) li:nth-child(7) span {
    font-size: 16px;
  }

  /*************************************** 겉지 - 우측테이블 ***************************************/
  .printable2 ul:nth-child(2) li:nth-child(1),
  .printable2 ul:nth-child(2) li:nth-child(2),
  .printable2 ul:nth-child(2) li:nth-child(3),
  .printable2 ul:nth-child(2) li:nth-child(4) {
    margin-left: 2cm;
  }

  .printable2 ul:nth-child(2) {
    padding-left: 6.5cm;
  }

  .printable2 ul:nth-child(2) li:nth-child(1) span {
    font-size: 1.9em;
    font-weight: 900;
  }

  .printable2 ul:nth-child(2) li:nth-child(2) span {
    font-size: 28px;
  }

  .printable2 ul:nth-child(2) li:nth-child(3)>span:nth-child(1) {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    width: 6cm;
  }

  .printable2 ul:nth-child(2) li:nth-child(3)>span:nth-child(2) {
    font-size: 20px;
  }

  .printable2 ul:nth-child(2) li:nth-child(3)>span:nth-child(2) span {
    font-size: 20px;
  }


  .printable2 ul:nth-child(2) li:nth-child(4)>span:nth-child(1),
  .printable2 ul:nth-child(2) li:nth-child(4)>span:nth-child(2) {
    font-size: 20px;

  }

  .printable2 ul:nth-child(2) li:nth-child(4)>span:nth-child(1) {
    width: 6.5cm;
    display: inline-block;
  }

  .printable2 ul:nth-child(2) li:nth-child(5) div:nth-child(1) {
    display: inline-block;
    vertical-align: top;
  }

  .printable2 ul:nth-child(2) li:nth-child(5) div:nth-child(1) span {
    font-size: 18px;
    vertical-align: top;
  }

  .printable2 ul:nth-child(2) li:nth-child(5) div:nth-child(2) {
    display: inline-block;
    float: right;
  }

  .printable2 ul:nth-child(2) li:nth-child(5) div:nth-child(2)>span {
    display: block;
  }

  .printable2 ul:nth-child(2) li:nth-child(6) span {
    font-size: 18px;
  }


  .printable2 ul:nth-child(2) li:nth-child(6)>span:last-child {
    font-size: 16px;
    float: right;
  }

  .printable2 ul:nth-child(2) li:nth-child(6)>span:nth-child(1) {
    display: inline-block;
    width: 5.5cm;
  }

  .printable2 ul:nth-child(2) li:nth-child(8)>span:nth-child(2) {
    float: right;
  }

  .printable2 ul:nth-child(2) li:nth-child(7),
  .printable2 ul:nth-child(2) li:nth-child(8),
  .printable2 ul:nth-child(2) li:nth-child(9),
  .printable2 ul:nth-child(2) li:nth-child(10),
  .printable2 ul:nth-child(2) li:nth-child(11),
  .printable2 ul:nth-child(2) li:nth-child(12) {
    height: .4cm;
  }

  span {
    font-size: inherit;
    /*13px*/
    vertical-align: top;
  }


  /*************************************** 속지 - 오성 ***************************************/

  .osung li:nth-child(4) {
    height: .7cm;
  }

  .osung li:nth-child(4) .right {
    text-align: right;
  }

  .osung li:nth-child(6) {
    height: auto;
  }

  .osung li:nth-child(4)>span,
  .osung li:nth-child(7) img,
  .osung li:nth-child(7) span.right,
  .osung li:nth-child(8) div.right {
    display: none;
  }

  .osung li:last-child {
    text-align: center;
  }

  /*************************************** 속지 - 파도소리 ***************************************/

  .wave li:nth-child(6) {
    height: auto;
  }

  .wave li:nth-child(14) span {
    font-size: 12px;
  }

  .wave li:last-child {
    text-align: center;
  }

  /*태그 글자수 넘칠시 자르기*/
  .printable2 {
    white-space: nowrap;
    overflow: hidden;
  }

  .button_wrap {
    width: 70px;
    float: left;
  }

  .tag_table span {
    font-size: 13.5px;
  }

  .logo {
    width: 55px;
    position: absolute;
    margin: 5px 15px;
  }

  .filterlist_inner .k-dropdown {
    width: 117px;
  }


  .filterlist_inner .k-header {
    border: solid 1px #d5d5d5
  }

  .filterlist_inner .k-datepicker,
  .filterlist_inner #chane-date {
    margin-bottom: 12px;
  }


  .filterlist_inner button {
    width: 130px;
  }

  /*
.filterlist .drop-box.k-header,
.filterlist .k-datepicker.k-header{
	margin-bottom: 10px;
}*/

  .remark {
    white-space: normal;
  }

  .filter_week .list li span.k-datepicker.k-header {
    width: 110px !important;
  }

  .printable2 li:last-child {
    overflow: inherit;
    word-wrap: break-word;
    /*white-space: break-spaces;*/
  }

  #tag6 {
    padding-right: 28px;
  }

  #tag6_chk {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 30px;
    width: 30px;
    margin: auto;
    cursor: pointer;
  }

  #wnd-txt {
    width: 8cm;
    border: solid 1px #c5c5c5;
    overflow: hidden;
  }

  .ingredgb {
    word-break: break-all;
    width: 8cm;
    display: inline-block;
    white-space: normal;
  }

  .ingred1,
  .printable2 ul:nth-child(2) li:nth-child(5) div:nth-child(1) .ingred1,
  .ingred1 {
    font-size: 18px;
  }

  .ingred2,
  .printable2 ul:nth-child(2) li:nth-child(5) div:nth-child(1) .ingred2,
  .ingred2 {
    font-size: 15px;
  }

  .ingred3,
  .printable2 ul:nth-child(2) li:nth-child(5) div:nth-child(1) .ingred3,
  .ingred3 {
    font-size: 13px;
  }

  .ingred4,
  .printable2 ul:nth-child(2) li:nth-child(5) div:nth-child(1) .ingred4,
  .ingred4 {
    font-size: 11.8px;
  }
}