/* ============================ 기본 html css 리셋 ============================*/

.k-button-text {
  display: flex;
  align-items: center;
}
.k-button-text .k-icon {
  margin-right: 5px;
}
/* ============================ 공통 레이아웃 (메뉴) ============================ */
#root > div {
}
/* ============================ 상단 (화면타이틀, 버튼) ============================ */

.title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.button-box button {
  margin-left: 5px;
}
/* ============================ 조회조건 ============================ */
#filterBoxWrap {
  padding: 5px;
}
#filterBox {
  line-height: 1.5;
  border: solid 1px #d7d7d7;
  background-color: #fff;
  width: 100%;
}

#filterBox tr th + td {
  height: 40px;
}

#filterBox tr th {
  background-color: #f5f5f8;
  border: solid 1px #d7d7d7;
  width: 120px;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}
#filterBox tr td {
  background-color: #ffffff;
  border: solid 1px #d7d7d7;
  width: 270px;
  text-align: center;
  padding: 5px;
}

#filterBox tr td.expanded input {
  width: 48%;
}

/* 품목코드+품목명 */
#filterBox tr td.expanded {
  min-width: 300px;
}

/* ============================ 그리드 ============================ */
.grid-box {
  display: flex;
}
.grid-box .grid-title h3 {
  font-size: 16px;
  margin: 5px;
}
.grid-box .grid-box-inner .k-grid {
  margin: 5px;
}
