body {
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, "TheJamsil5Bold" !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  --swiper-navigation-size: 20px !important;
  min-height: 100vh !important;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available !important;
}

html {
  height: -webkit-fill-available !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace !important;
}

.k-window-content .k-grid {
  margin : 0px !important;
}

iframe#webpack-dev-server-client-overlay {
  display: none !important
}

.rpv-core__inner-page {
  padding: 0px !important;
}

.k-grid tr.k-alt {
  background-color: #0000000a !important;
}

.p-inputtext {
  padding: 0.75rem 0.75rem !important;
}

/* 그리드 행높이 조절 */
.k-grid tbody tr,
.k-grid tr,
.k-grid td,
.k-grid tbody tr td,
.k-grid td.k-state-selected,
.k-grid td.k-selected,
.k-grid tr.k-state-selected>td,
.k-grid tr.k-selected>td {
  height: 34px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.k-form-horizontal .k-form-field>.k-label,
.k-form-horizontal .k-form-field>kendo-label,
.k-form-horizontal .k-form-field>.k-form-label {
  width: 40% !important;
}

.k-form-horizontal .k-form-field-wrap {
  max-width: calc(60% - 10px) !important;
}

/* 스케줄러 이벤트 팝업창 반복 여부 숨기기 */
.k-form.k-scheduler-edit-form>.k-form-field:nth-child(5) {
  display: none !important;
}

.k-form.k-scheduler-edit-form>.k-form-field:nth-child(4)>.k-form-field-wrap {
  display: flex !important;
  align-items: center !important;
}

.k-form.k-scheduler-edit-form #k-event-description {
  min-height: 150px !important;
}

.k-grid .k-grid-header .k-header .k-cell-inner>.k-link {
  justify-content: center !important;
  /*공통설정 : 그리드 헤더 텍스트 중앙정렬*/
}

.k-window {
  z-index: 10100 !important;
  /* 버그 : 메뉴바가 window 위로 올라오는 현상 수정  */
}

ul.required,
ul.required:hover,
ul.required.k-hover,
span.required,
span.required:hover,
span.required.k-hover,
input.required,
input.required:hover,
input.required.k-hover,
.k-daterangepicker.required input {
  background-color: #fff0ef !important;
  width: "100%" !important;
}

.k-daterangepicker.required,
.k-daterangepicker.required:hover {
  background-color: unset !important;
}

ul.readonly,
span.readonly,
input.readonly {
  background-color: #efefef !important;
}

.k-radio-label {
  font-size: 14px !important;
  line-height: 1.4285714286 !important;
}

.k-grid-md td {
  padding-block: 0px !important;
}

/* 메뉴 바 폰트 굵기 조정 */
.k-panelbar>.k-item>.k-link,
.k-panelbar>.k-panelbar-header>.k-link {
  font-weight: 400 !important;
}

#CM_A3100W_CALENDAR {
  width: 98% !important;
}

#CM_A3100W_SCHEDULER {
  height: 50vh !important;
}

.PDA_Switch {
  width: 80px !important;
}

.k-numerictextbox>.k-input-inner {
  text-align: right !important;
}

.k-panelbar .k-panelbar-group>.k-panelbar-item>.k-link {
  flex-direction: row-reverse !important;
  -webkit-box-pack: justify !important;
  justify-content: flex-end !important;
}

.k-panelbar-item-text {
  white-space: nowrap !important;
  overflow: hidden !important;
}

.k-panelbar-item-text>div {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.css-o4b71y-MuiAccordionSummary-content.Mui-expanded {
  margin: 12px 0 !important;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  min-height: 48px !important;
}

.simple-floatingedges {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.simple-floatingedges .react-flow__handle {
  width: 20px;
  height: 20px;
  opacity: 0;
}

.simple-floatingedges .react-flow__handle-top {
  top: -8px;
}

.simple-floatingedges .react-flow__handle-bottom {
  bottom: -8px;
}

.simple-floatingedges .react-flow__handle-left {
  left: -8px;
}

.simple-floatingedges .react-flow__handle-right {
  right: -8px;
}

.simple-floatingedges .react-flow__node-customNode {
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  width: 100%;
  height: 100%;
}

.simple-floatingedges .react-flow__node-customNode :global .react-flow__resize-control.handle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.simple-floatingedges .react-flow__node-groupNode {
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  width: 100%;
  height: 100%;
}

.simple-floatingedges .react-flow__node {
  z-index: -1;
}

.css-zqhngk-MuiFormControl-root-MuiTextField-root {
  width: 100% !important;
}

.swiper-button-next {
  color: gray !important;
  right: 0px !important;
}

.swiper-button-prev {
  color: gray !important;
  left: 0px !important;
}

.swiper-container {
  height: 100%;
}

/*Prime table css*/
.incell-input {
  height: 70% !important;
  padding: 0.5rem 0.2rem !important;
  width: 90% !important;
}

.p-datatable-table {
  min-width: 100% !important;
}

.p-datatable .p-datatable-tbody>tr>td {
  padding: 0rem 0.5rem !important;
  height: 40px !important;
  vertical-align: middle !important;
  text-align: center !important;
}

.p-datatable .p-datatable-header {
  padding: 0.7rem 1rem !important;
}

.p-input-icon-left>.p-inputtext {
  padding-left: 2.5rem !important;
}

.p-inputtext {
  padding: 0.5rem 0.75rem !important;
}

.p-datatable .p-column-header-content {
  justify-content: center !important;
}

/*스플린터*/
.pane-content {
  padding: 0 10px !important;
  height: 100% !important;
}

.k-splitter {
  border-color: rgba(0, 0, 0, 0) !important;
}

/*step 설정*/
.k-step-list-vertical,
.k-progressbar {
  height: 77vh !important;
}

/*드래그 오류 수정*/
.k-grid table {
  width: 100% !important;
}

.k-grid .k-table.k-grid-table {
  touch-action: auto !important;
}

/*DDGD 전용 css */
.react-calendar {
  height: 100% !important;
}

@media (max-width: 1200px) {
  .react-calendar {
    height: 80% !important;
  }
}

.overflow_scrollhidden {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.swiper-slide {
  text-align: center !important;
  font-size: 18px !important;
  background: #fff !important;

  /* Center slide text vertically */
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/*404페이지*/
.page-404 {
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  align-content: center !important;
}

.page-404 .outer {
  left: 0 !important;
  display: table !important;

  width: 100% !important;
}

.page-404 .outer .middle {
  display: table-cell !important;

  vertical-align: middle !important;
}

.page-404 .outer .middle .inner {
  width: 350px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.page-404 .outer .middle .inner .inner-circle {
  height: 300px !important;

  border-radius: 50% !important;
  background-color: #ffffff !important;
}

.page-404 .outer .middle .inner .inner-circle i {
  font-size: 5em !important;
  line-height: 1em !important;

  float: right !important;

  width: 1.6em !important;
  height: 1.6em !important;
  margin-top: -.7em !important;
  margin-right: -.5em !important;
  padding: 20px !important;

  -webkit-transition: all .4s !important;
  transition: all .4s !important;
  text-align: center !important;

  color: #f5f5f5 !important;
  border-radius: 50% !important;
  background-color: #666666 !important;
  box-shadow: 0 0 0 15px #f0f0f0 !important;
}

.page-404 .outer .middle .inner .inner-circle span {
  font-size: 11em !important;
  font-weight: 700 !important;
  line-height: 1.2em !important;

  display: block !important;

  -webkit-transition: all .4s !important;
  transition: all .4s !important;
  text-align: center !important;

  color: #666666 !important;
}

.page-404 .outer .middle .inner .inner-status {
  font-size: 20px !important;

  display: block !important;

  margin-top: 20px !important;
  margin-bottom: 5px !important;

  text-align: center !important;

  color: #666666 !important;
}

.page-404 .outer .middle .inner .inner-detail {
  line-height: 1.4em !important;

  display: block !important;

  margin-bottom: 30px !important;

  text-align: center !important;

  color: #999999 !important;
}

.page-404 .outer .middle .inner .btn {
  line-height: 1.4em !important;

  display: block !important;

  margin-bottom: 10px !important;

  text-align: center !important;

  font-size: 28px !important;

  color: #666666 !important;

  border: 2px solid #666666 !important;

  border-radius: 10px !important;

  cursor: pointer !important;
}

/*스케줄러 폼 변경*/
#schulderform>.k-form-field>.k-label {
  width: 20% !important;
}

#schulderform>.k-form-field>.k-form-field-wrap {
  max-width: 100% !important;
}

/*버튼 색상 변경 */
.k-button-solid-primary {
  color: white !important;
}

/* 라디오 색 변경*/
.k-radio:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3e%3ccircle cx='50%25' cy='50%25' r='4' fill='white'/%3e%3c/svg%3e") !important;
}

/*Kendo 버그 해결용 (Window 컴포넌트 z-index 100이라서 100 미만 내부 컴포넌트 안보이는 현상)*/
div.k-animation-container {
  z-index: 10100 !important;
}

.k-dialog-wrapper .k-dialog {
  display: inline !important;
  min-height: 150px !important;
}

/* 스케줄러 팝업 하단 여백 제거  */
/* .k-scheduler-edit-dialog>.k-window,
.k-dialog>.k-window-content,
.k-prompt-container {
  padding-bottom: 70px !important;
} */

.k-scheduler-edit-dialog>.k-window,
.k-dialog>.k-window-actions {
  display: flex !important;
  justify-content: flex-end !important;
}

.k-pager-md .k-pager-numbers-wrap {
  justify-content: center !important;
  width: 100% !important;
}

.k-grouping-header {
  border-width: 0 0 1px !important;
  border-style: solid !important;
  border-color: inherit !important;
  white-space: normal !important;
  display: none !important;
  align-items: center !important;
  position: relative !important;
  flex-wrap: wrap !important;
}

.k-grouping-header::before {
  content: "" !important;
  height: calc(1em + 10px) !important;
  display: none !important;
  vertical-align: middle !important;
}

.k-grouping-header .k-chip-list {
  flex-grow: 0 !important;
  display: none !important;
}

.k-grouping-header>.k-grouping-drop-container {
  flex-grow: 1 !important;
  padding-block: 8px !important;
  margin-block: -8px !important;
  display: none !important;
  align-self: stretch !important;
  align-items: center !important;
}

/* 주석 해제 시 그리드 페이저의 우측 info 보임 */
@media screen and (min-width: 600px) {
  .k-pager-md .k-pager-info {
    display: flex !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    justify-content: flex-end !important;
  }
}

@media screen and (max-width: 991px) {
  .customized-timeline .p-timeline-event:nth-child(even) {
    flex-direction: row !important;
  }

  .customized-timeline .p-timeline-event:nth-child(even) .p-timeline-event-content {
    text-align: left !important;
  }

  .customized-timeline .p-timeline-event-opposite {
    flex: 0 !important;
  }

  .customized-timeline .p-card {
    margin-top: 1rem !important;
  }
}

.customized-timeline .p-timeline-event-opposite {
  display: none !important;
}

/* .k-grid tr {
    height: 36px!important;
  } */
.k-form-horizontal .k-form-field>.k-label,
.k-form-horizontal .k-form-field>kendo-label,
.k-form-horizontal .k-form-field>.k-form-label {
  width: 40% !important;
}

.k-form-horizontal .k-form-field>.formLabel10 {
  width: 10% !important;
}

.k-form-horizontal .k-form-field-wrap {
  max-width: calc(60% - 10px) !important;
}

.k-form-horizontal .forms {
  max-width: calc(100% - 10px) !important;
}

/* 스케줄러 이벤트 팝업창 반복 여부 숨기기 */
.k-form.k-scheduler-edit-form>.k-form-field:nth-child(5) {
  display: none !important;
}

.k-form.k-scheduler-edit-form>.k-form-field:nth-child(4)>.k-form-field-wrap {
  display: flex !important;
  align-items: center !important;
}

.k-form.k-scheduler-edit-form #k-event-description {
  min-height: 150px !important;
}

.visible-mobile-only {
  display: none !important;
}

.visible-mobile-only2 {
  display: none !important;
}

.k-animation-container-relative {
  display: block !important;
}

/*시스템 옵션*/
.sys-opt-wnd-form-elem .k-form-field>.k-label,
.sys-opt-wnd-form-elem .k-form-field>kendo-label,
.sys-opt-wnd-form-elem .k-form-field>.k-form-label {
  width: 70% !important;
}

.sys-opt-wnd-form-elem .k-form-field-wrap {
  max-width: calc(30% - 10px) !important;
}

.k-grid .k-grid-header .k-header .k-cell-inner>.k-link {
  justify-content: center !important;
  /*공통설정 : 그리드 헤더 텍스트 중앙정렬*/
}

.k-window {
  z-index: 10100 !important;
  /* 버그 : 메뉴바가 window 위로 올라오는 현상 수정  */
}

ul.required,
ul.required:hover,
ul.required.k-hover,
span.required,
span.required:hover,
span.required.k-hover,
input.required,
input.required:hover,
input.required.k-hover,
.k-daterangepicker.required input {
  background-color: #fff0ef !important;
}

.k-daterangepicker.required,
.k-daterangepicker.required:hover {
  background-color: unset !important;
}

ul.readonly,
span.readonly,
input.readonly {
  background-color: #efefef !important;
}

.k-radio-label {
  font-size: 14px !important;
  line-height: 1.4285714286 !important;
}

/* 그리드 행높이 조절 */
.k-grid tbody tr,
.k-grid tbody tr td,
.k-grid td.k-state-selected,
.k-grid td.k-selected,
.k-grid tr.k-state-selected>td,
.k-grid tr.k-selected>td {
  height: 34px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.k-tabstrip>.k-content.k-active,
.k-tabstrip>.k-content.k-active>div.k-animation-container {
  width: inherit !important;
}

.k-daterange-picker .k-dateinput,
.k-daterangepicker .k-dateinput {
  width: 50% !important;
}

@media (max-width: 1200px) {
  .k-calendar-range .k-calendar-view {
    display: flex !important;
    flex-direction: column !important;
  }
}

/* 모바일 결재문서 숨김 처리 */
@media (max-width: 1200px) {
  .visible-mobile-only {
    display: block !important;
  }
  .visible-mobile-only2 {
    display: block !important;
  }
  .preview-grid-container {
    display: none !important;
  }

  .k-scheduler-edit-dialog .k-dialog {
    min-width: 100% !important;
  }
}

/* 모바일 특정 칼럼 숨김 */
@media (max-width: 768px) {
  .hide-on-mobile {
    display: none !important;
  }
}


/* @media print {
    @page {
      size: 21cm 29.7cm!important;
      margin-top: 1cm!important;
      margin-right: 1cm!important;
      margin-bottom: 0cm!important;
      margin-left: 1cm!important;
    }
  
    .printable {
      display: block!important;
    }
  
    #non-printable {
      display: none!important;
    }
  } */

.printable {
  width: 19cm !important;
  min-height: 27.7cm !important;
  padding: 1cm !important;
  background-color: #fff !important;
}

.printable.landscape {
  min-height: 19cm !important;
  width: 27.7cm !important;
}

.printable.barcode {
  width: 5.7cm !important;
  min-height: 2.7cm !important;
}

@media print {
  .print-hidden {
    display: none !important;
  }
}

body {
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

/**************** 작업일보 ****************/

#ItemCostSheet table {
  border: 1px solid !important;
  table-layout: fixed !important;
  border-collapse: collapse !important;
  border-spacing: 0 !important;
}

#ItemCostSheet td,
#ItemCostSheet th {
  font-family: Arial, sans-serif !important;
  border-style: solid !important;
  border-width: 1px !important;
  overflow: hidden !important;
  word-break: normal !important;
  vertical-align: middle !important;
}

#ItemCostSheet .title_container {
  display: flex !important;
  justify-content: space-between !important;
}

#ItemCostSheet .title {
  text-align: center !important;
  margin-bottom: 3cm !important;
  margin-top: 0.5cm !important;
  font-size: 3em !important;
  width: 100% !important;
}

#ItemCostSheet table.tb_approval {
  height: 3.6cm !important;
  width: 8cm !important;
  margin-bottom: 1cm !important;
  text-align: center !important;
}

#ItemCostSheet table.tb_approval th {
  height: 0.7cm !important;
}

#ItemCostSheet table.tb_approval tr.contents {
  height: 2cm !important;
}

#ItemCostSheet table.main_tb .center {
  text-align: center !important;
}

#ItemCostSheet table.main_tb .number {
  text-align: right !important;
}

#ItemCostSheet table.main_tb th,
#ItemCostSheet table.main_tb td {
  padding: 0 0.1cm !important;
  line-height: 0.6cm !important;
  height: 1.2cm !important;
  word-wrap: break-word !important;
  font-size: 0.85em !important;
}

#ItemCostSheet .right {
  float: right !important;
  clear: both !important;
}

#ItemCostSheet .red {
  background-color: rgb(253, 242, 242) !important;
}

#ItemCostSheet .orange {
  background-color: rgb(255, 233, 220) !important;
}

/**************** 업무일지 ****************/

#DailyReport table {
  border: 1px solid !important;
  table-layout: fixed !important;
  border-collapse: collapse !important;
  border-spacing: 0 !important;
}

#DailyReport td,
#DailyReport th {
  font-family: Arial, sans-serif !important;
  border-style: solid !important;
  border-width: 1px !important;
  overflow: hidden !important;
  word-break: normal !important;
  vertical-align: middle !important;
}

#DailyReport .title_container {
  display: flex !important;
  justify-content: space-between !important;
}

#DailyReport .title {
  text-align: center !important;
  margin-bottom: 3cm !important;
  margin-top: 0.5cm !important;
  font-size: 3em !important;
  width: 100% !important;
}

#DailyReport table.tb_approval {
  height: 3.6cm !important;
  width: 8cm !important;
  margin-bottom: 1cm !important;
  text-align: center !important;
}

#DailyReport table.tb_approval th {
  height: 0.7cm !important;
}

#DailyReport table.tb_approval tr.contents {
  height: 2cm !important;
}

#DailyReport table.main_tb .center {
  text-align: center !important;
}

#DailyReport table.main_tb .number {
  text-align: right !important;
}

#DailyReport table.main_tb th,
#DailyReport table.main_tb td {
  padding: 0 0.1cm !important;
  line-height: 0.6cm !important;
  height: 1.2cm !important;
  word-wrap: break-word !important;
  font-size: 0.85em !important;
}

#DailyReport .right {
  float: right !important;
  clear: both !important;
}

/**************** 작업일보 ****************/

#WorkDailyReport table {
  border: 1px solid !important;
  table-layout: fixed !important;
  border-collapse: collapse !important;
  border-spacing: 0 !important;
}

#WorkDailyReport td,
#WorkDailyReport th {
  font-family: Arial, sans-serif !important;
  border-style: solid !important;
  border-width: 1px !important;
  overflow: hidden !important;
  word-break: normal !important;
  vertical-align: middle !important;
}

#WorkDailyReport .title_container {
  display: flex !important;
  justify-content: space-between !important;
}

#WorkDailyReport .title {
  text-align: center !important;
  margin-bottom: 3cm !important;
  margin-top: 0.5cm !important;
  font-size: 3em !important;
  width: 100% !important;
}

#WorkDailyReport table.tb_approval {
  height: 3.6cm !important;
  width: 8cm !important;
  margin-bottom: 1cm !important;
  text-align: center !important;
}

#WorkDailyReport table.tb_approval th {
  height: 0.7cm !important;
}

#WorkDailyReport table.tb_approval tr.contents {
  height: 2cm !important;
}

#WorkDailyReport table.main_tb .center {
  text-align: center !important;
}

#WorkDailyReport table.main_tb .number {
  text-align: right !important;
}

#WorkDailyReport table.main_tb th,
#WorkDailyReport table.main_tb td {
  padding: 0 0.1cm !important;
  line-height: 0.6cm !important;
  height: 1.2cm !important;
  word-wrap: break-word !important;
  font-size: 0.85em !important;
}

#WorkDailyReport .right {
  float: right !important;
  clear: both !important;
}

/**************** 직접입고 ********************/
#BarcodePrint table {
  border: 1px solid !important;
  table-layout: fixed !important;
  border-collapse: collapse !important;
  border-spacing: 0 !important;
}

#BarcodePrint td,
#BarcodePrint th {
  font-family: Arial, sans-serif !important;
  border-style: solid !important;
  border-width: 1px !important;
  overflow: hidden !important;
  word-break: normal !important;
  vertical-align: middle !important;
}

#BarcodePrint .title_container {
  display: flex !important;
  justify-content: space-between !important;
}

#BarcodePrint .title {
  text-align: center !important;
  margin-bottom: 3cm !important;
  margin-top: 0.5cm !important;
  font-size: 3em !important;
  width: 100% !important;
}

#BarcodePrint table.tb_approval {
  height: 3.6cm !important;
  width: 8cm !important;
  margin-bottom: 1cm !important;
  text-align: center !important;
}

#BarcodePrint table.tb_approval th {
  height: 0.7cm !important;
}

#BarcodePrint table.tb_approval tr.contents {
  height: 2cm !important;
}

#BarcodePrint table.main_tb .center {
  text-align: center !important;
}

#BarcodePrint table.main_tb .number {
  text-align: right !important;
}

#BarcodePrint table.main_tb th,
#BarcodePrint table.main_tb td {
  padding: 0 0.1cm !important;
  line-height: 0.6cm !important;
  height: 1.2cm !important;
  word-wrap: break-word !important;
  font-size: 0.85em !important;
}

#BarcodePrint .right {
  float: right !important;
  clear: both !important;
}

/**************** 근태허가신청 ****************/

#AbsenceRequest table {
  border: 1px solid !important;
  table-layout: fixed !important;
  border-collapse: collapse !important;
  border-spacing: 0 !important;
}

#AbsenceRequest td,
#AbsenceRequest th {
  font-family: Arial, sans-serif !important;
  border-style: solid !important;
  border-width: 1px !important;
  overflow: hidden !important;
  word-break: normal !important;
  vertical-align: middle !important;
}

#AbsenceRequest .title {
  text-align: center !important;
  margin-bottom: 3cm !important;
  margin-top: 0.5cm !important;
  font-size: 2.5em !important;
}

#AbsenceRequest table.tb_approval {
  height: 3.6cm !important;
  width: 8cm !important;
  margin-bottom: 1cm !important;
  text-align: center !important;
}

#AbsenceRequest table.tb_approval th {
  height: 0.7cm !important;
}

#AbsenceRequest table.tb_approval tr.contents {
  height: 2cm !important;
}

#AbsenceRequest table.tb_mid {
  height: 6cm !important;
  width: 100% !important;
}

#AbsenceRequest table.tb_mid td {
  padding-left: 0.5cm !important;
  line-height: 0.8cm !important;
  height: 0.8cm !important;
}

#AbsenceRequest .right {
  float: right !important;
  clear: both !important;
}

#AbsenceRequest #reason {
  padding: 4cm 0 !important;
  text-align: center !important;
  font-size: 1.3em !important;
}

#AbsenceRequest td.tg-baqh.number {
  text-align: right !important;
  padding-right: 5px !important;
}

#AbsenceRequest td.tg-baqh.bottom_dot {
  border-bottom: 2px dotted !important;
}

#AbsenceRequest td.tg-baqh.foot_1 {
  text-align: right !important;
}

#AbsenceRequest .tg th {
  font-family: Arial, sans-serif !important;
  font-size: 14px !important;
  font-weight: normal !important;
  /*padding:10px 5px!important;*/
  border-style: solid !important;
  border-width: 1px !important;
  overflow: hidden !important;
  word-break: normal !important;
}

#AbsenceRequest tr.contents .tg-baqh {
  font-size: 0.95em !important;
}

#AbsenceRequest .page-break {
  page-break-before: always !important;
}

#AbsenceRequest .tg .tg-baqh {
  text-align: center !important;
  vertical-align: middle !important;
  height: 44px !important;
  font-size: 0.95em !important;
}

#AbsenceRequest .tg .tg-qj3h {
  font-size: 1.4em !important;
  text-align: center !important;
  vertical-align: middle !important;
}

#AbsenceRequest

/*.tg .tg-lqy6{text-align:right!important;vertical-align:top}*/
#AbsenceRequest .tg .tg-13pz {
  /*등록번호*/
  font-size: 1.1em !important;
  text-align: center !important;
  vertical-align: middle !important;
  height: 23.2px !important;
}

#AbsenceRequest .span1 {
  letter-spacing: 10px !important;
  font-weight: bold !important;
  font-size: 1.2em !important;
}

#AbsenceRequest .span2 {
  font-size: 0.65em !important;
}

#AbsenceRequest #btn_print {
  width: 21cm !important;
  height: 35px !important;
  font-size: 1.1em !important;
  top: 0 !important;
  margin-bottom: 10px !important;
}

#AbsenceRequest .qc {
  background-color: #ffff73 !important;
}

#AbsenceRequest caption {
  caption-side: bottom !important;
}

#AbsenceRequest .qc caption {
  background-color: #ffff73 !important;
}

#AbsenceRequest span.cap1 {
  float: left !important;
  font-size: 0.8em !important;
}

#AbsenceRequest span.cap2 {
  /*float:right!important;*/
  font-size: 0.8em !important;
  font-weight: bold !important;
}

/*loading화면*/
#AbsenceRequest #mask {
  z-index: 9998 !important;
  position: absolute !important;
  background-color: black !important;
  opacity: 0.4 !important;
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  top: -1px !important;
  /*없으면 인쇄버튼 들이 안가려짐*/
}

#AbsenceRequest .important-cell {
  background-color: rgb(235, 235, 235) !important;
  font-weight: 600 !important;
}

#AbsenceRequest .important-cell2 {
  background-color: rgb(255, 247, 175) !important;
  font-weight: 600 !important;
}

#AbsenceRequest .tb_at_bottom .tg-baqh {
  height: 50px !important;
}

#AbsenceRequest #date {
  margin-bottom: 1cm !important;
}

#AbsenceRequest #name {
  display: inline-block !important;
  width: 3.5cm !important;
  text-align: center !important;
}

#AbsenceRequest .bottom {
  font-size: 1.1em !important;
}

#AbsenceRequest #company {
  margin-top: 5cm !important;
  text-align: center !important;
}

#AbsenceRequest #button1 {
  background-color: transparent !important;
  color: #ff2015 !important;
  border: solid 2px #ff2015 !important;
  width: 2cm !important;
  height: 40px !important;
  margin-bottom: 5px !important;
}

#AbsenceRequest #button1:hover {
  color: #820e08 !important;
  border: solid 2px #820e08 !important;
}

#AbsenceRequest #button2 {
  background-color: #1076ab !important;
  color: white !important;
  border: none !important;
  width: 2cm !important;
  height: 40px !important;
  margin-bottom: 5px !important;
}

#AbsenceRequest #button2:hover {
  background-color: #004c77 !important;
}

#AbsenceRequest .button-head #button1,
#AbsenceRequest .button-head #button2 {
  font-family: "Noto Sans KR", "Myriad Pro", "dotum", sans-serif !important;
  font-size: 18px !important;
  font-weight: 100 !important;
}

#AbsenceRequest .button_wrap {
  width: 21cm !important;
  text-align: right !important;
}

/**************** 지출결의서 ****************/

#CashDisbursementVoucher .logo {
  /* background-image: url(image/gst_logo2.png)!important; */
  background-repeat: no-repeat !important;
  width: 60% !important;
  height: 90% !important;
  background-size: 100% !important;
  display: inline-block !important;
  background-position: center !important;
}

#CashDisbursementVoucher table {
  border: 2px solid !important;
  table-layout: fixed !important;
  border-collapse: collapse !important;
  border-spacing: 0 !important;
  width: 17cm !important;
}

#CashDisbursementVoucher table.top_tb {
  height: 5cm !important;
}

#CashDisbursementVoucher table td,
#CashDisbursementVoucher table th {
  font-size: 0.8em !important;
}

#CashDisbursementVoucher table.top_tb tr:nth-child(2) th:first-child,
#CashDisbursementVoucher table.top_tb tr:nth-child(4) td:first-child {
  height: 0.7cm !important;
}

#CashDisbursementVoucher table.top_tb tr:nth-child(2) th:nth-child(5) {
  width: 0.5cm !important;
}

#CashDisbursementVoucher table.title_tb tr,
#CashDisbursementVoucher table.main_tb tr {
  height: 0.8cm !important;
}

#CashDisbursementVoucher table.main_tb tr:last-child {
  height: 2.5cm !important;
}

#CashDisbursementVoucher table.main_tb {
  border-bottom: none !important;
  border-top: none !important;
}

#CashDisbursementVoucher table.main_tb:last-child {
  border-bottom: solid 2px !important;
}

#CashDisbursementVoucher table.title_tb {
  border-top: none !important;
  border-bottom: none !important;
}

#CashDisbursementVoucher table.title_tb tr:first-child th {
  border-top: none !important;
}

#CashDisbursementVoucher table.title_tb tr:last-child th {
  border-bottom: none !important;
}

#CashDisbursementVoucher td,
#CashDisbursementVoucher th {
  font-family: Arial, sans-serif !important;
  border-style: solid !important;
  border-width: 1px !important;
  overflow: hidden !important;
  word-break: normal !important;
  text-align: center !important;
  vertical-align: middle !important;
}

#CashDisbursementVoucher table.main_tb tr:last-child td:last-child {
  text-align: left !important;
  padding-left: 0.2cm !important;
}

#CashDisbursementVoucher .title {
  font-size: 1.7em !important;
}

#CashDisbursementVoucher td.number {
  text-align: right !important;
  padding-right: 0.2cm !important;
}

#CashDisbursementVoucher .tg th {
  font-family: Arial, sans-serif !important;
  font-size: 14px !important;
  font-weight: normal !important;
  /*padding:10px 5px!important;*/
  border-style: solid !important;
  border-width: 1px !important;
  overflow: hidden !important;
  word-break: normal !important;
}

#CashDisbursementVoucher .page-break {
  page-break-before: always !important;
}

#CashDisbursementVoucher .important-cell {
  background-color: rgb(235, 235, 235) !important;
  font-weight: 600 !important;
}